services:
  db:
    image: postgres:15
    env_file:
      - ./.env.dev
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "nat", "-d", "natmovies"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    env_file:
      - ./.env.dev
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./movies-frontend
      dockerfile: Dockerfile
    ports:
      - "4200:4200"
    volumes:
      - ./movies-frontend:/app
      - /app/node_modules
    depends_on:
      - backend

volumes:
  pgdata: